<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://unpkg.com/@google/markerclustererplus@4.0.1/dist/markerclustererplus.min.js"></script>
    
    <style type="text/css">
      /* Set the size of the div element that contains the map */
      #map {
        height: 400px;
        width: 100%;
      }
    </style>

</head>

<body id="page-top" onload="onLoad()">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul th:replace="base :: menu_lateral"></ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form th:replace="base :: topbar_search"></form>

                    <!-- Topbar Navbar -->
                    <ul th:replace="base :: menu_superior"></ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Todas as Atividades</h1>
                         <div class="dropdown mb-4">
                            <button class="btn-sm btn-primary shadow-sm dropdown-toggle" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                Filtros
                            </button>
                            <div class="dropdown-menu animated--fade-in"
                                aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" th:href="@{/atividadesGeral}">Todos</a>
                                <a class="dropdown-item" th:href="@{/todas}">Confirmados</a>
                                <a class="dropdown-item" th:href="@{/atividadesOcorridas}">Já ocorrido</a>
                                <a class="dropdown-item" th:href="@{/atividadesCanceladas}">Cancelados</a>
                            </div>
                        </div>
                    </div>
					
					<div th:if="${atividades.isEmpty()}">
						<h4>Nenhuma atividade encontrada</h4>
					</div>
					<div th:unless="${atividades.isEmpty()}">
						<div id="map"></div>
			
	                    <div class="col-lg-11 mb-4" id="atividades">
	
	                        <!-- Atividades -->
	                        <div class="card shadow mb-4 mt-4" th:each="atividade : ${atividades}">
	                            <div class="card-header py-3">
	                                <a th:href="@{'/atividade/{id}'(id=${atividade.id})}" class="m-0 font-weight-bold text-primary" th:text="${atividade.nomeAtividade}">Nome da atividade</a>
	                            </div>
	                            <div class="card-body">
	                         
	                                <p>Local: <span id="enderecolocal" th:text="${atividade.enderecoLocal} + ', ' + ${atividade.cidade} + ', ' + ${atividade.uf}"></span></p>
	                                <p>Tipo: <span th:text="${atividade.nomeTipoAtividade}"></span></p>
	                                <p>Quando: <span th:text="${#temporals.format(atividade.dataAtividade, 'dd/MM/yyyy')} + ' - '  + ${#temporals.format(atividade.dataAtividade, 'HH:mm')}"></span></p>
	                                <p>Situação: <span th:text="${atividade.estadoAtividadeNome}"></span></p>
	                                <p>Descrição: <span th:text="${atividade.descricao}"></span></p>
	                                <p>Cadastrado por: <span th:text="${atividade.nomeCompletoUsuario}"></span></p>
	                                <p>Participantes: <span th:text="${atividade.usuariosAtividade}"></span> confirmados</p>
	                                <p hidden id="coordenadas"><span th:text="${atividade.coordenadas}"></span></p>
	                                <p hidden id="coordenadasCentro"><span th:text="${usuarioLogado.coordenadas}"></span></p>
	                                <div th:if="${atividade.ocorridoOuCancelado}">
	                                	<div th:if="${atividade.ocorrido}">
		                                	<a class="btn btn-secondary">Evento já aconteceu</a>
	                                	</div>
	                                	<div th:if="${atividade.cancelado}">
		                                	<a class="btn btn-secondary">Evento cancelado</a>
	                                	</div>
	                                </div>
	                                <div th:unless="${atividade.ocorridoOuCancelado}">
		                                <div th:with="usuario=${#authentication.getPrincipal().getUser().getEmail()}">
		                                	<div th:if="${atividade.usuariosCadastradosNaAtividade.contains(usuarioLogado)}">
				                                <form th:action="@{'/atividade/cancelar_participacao/{id}'(id=${atividade.id})}" method="post">
				                                	<button class="btn btn-danger" type="submit">Cancelar participação &rarr;</button>
				                                </form>
		                                	</div>
		                                	<div th:unless="${atividade.usuariosCadastradosNaAtividade.contains(usuarioLogado)}">
				                                <form th:action="@{'atividade/participar/{id}'(id=${atividade.id})}" method="post">
				                                	<button class="btn btn-success" type="submit">Participar &rarr;</button>
				                                </form>
		                                	</div>
		                                </div>
	                               	</div>
	                            </div>
	                        </div>
						</div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div th:replace="base :: logout_modal"></div>
    
    <!-- Profile Modal-->
    <div th:replace="base :: profile_modal"></div>
    
    <!-- Modal novo usuário -->
    <div th:replace="base :: new_user_modal"></div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>
    
	<script>
	    function onLoad() {
	        var app = new Vue(
	            {
	                el: '#atividades',
	                data: {
	                    coordenadas: []
	                },
	                mounted() {
	                    this.coordenadas = coordenadasJson('#coordenadas');
	                    console.log(this.coordenadas);
	                    initMap();
	                }
	            }
	        );
	        navigator.geolocation.getCurrentPosition(function(location) {
	      	  console.log(location.coords.latitude);
	      	  console.log(location.coords.longitude);
	      	  console.log(location.coords.accuracy);
	      	});
	    }
	    
	    function coordenadasJson(seletor){
	    	let arrayCoordenadas = [];
	    	let campos = document.querySelectorAll(seletor);
	    	let arrayCoordenadasJson = [];
	
	    	campos.forEach(element => {
	    	    arrayCoordenadas.push(element.innerText.replace(/[\n ]/g, ''));
	    	});
	
	    	arrayCoordenadas.forEach(element => {
	    	    arrayCoordenadasJson.push(JSON.parse(element));
	    	});
	        
	        return arrayCoordenadasJson;
	    }
	    
	    function initMap() {
	        const map = new google.maps.Map(document.getElementById("map"), {
	            zoom: 13,
	            center: { lat: coordenadasMedias(coordenadasJson('#coordenadasCentro'))[0], lng: coordenadasMedias(coordenadasJson('#coordenadasCentro'))[1] },
	        });
	        // Create an array of alphabetical characters used to label the markers.
	        const labels = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
	        // Add some markers to the map.
	        // Note: The code uses the JavaScript Array.prototype.map() method to
	        // create an array of markers based on a given "locations" array.
	        // The map() method here has nothing to do with the Google Maps API.
	        const markers = coordenadasJson('#coordenadas').map((location, i) => {
	            return new google.maps.Marker({
	                position: location,
	                label: labels[i % labels.length],
	            });
	        });
	
	        // Add a marker clusterer to manage the markers.
	        new MarkerClusterer(map, markers, {
	            imagePath:
	                "img/marcadores/m",
	        });
	    }
	    
	    var markerCluster = new MarkerClusterer(map, markers,
	            {imagePath: `img/marcadores/m`});
	    
	    function coordenadasMedias(locations) {
	        let coordenadas = [];
	        
	        let longitude = 0;
	        let latitude = 0;
	        locations.forEach(element => {
	            latitude += element.lat;
	            longitude += element.lng;
	        });

	        coordenadas.push(latitude / locations.length);
	        coordenadas.push(longitude / locations.length);
	        return coordenadas;
	    }
	    
	    function success(pos){
	        let crd = pos.coords;
	        let vetor = [];
	        vetor.push(crd.latitude);
	        vetor.push(crd.longitude);
	        return vetor;
	    }
	    
	    function error(err){
	        console.warn(`ERROR ${err.code}: ${err.message}`);
	        return null;
	    }
	    
	    
	    navigator.geolocation.getCurrentPosition(function(location) {
    	  console.log(location.coords.latitude);
    	  console.log(location.coords.longitude);
    	  console.log(location.coords.accuracy);
    	});
		  
	</script>
    
    
    
    
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>     
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/@googlemaps/markerclustererplus/dist/index.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&v=weekly&channel=2" async></script>
    

</body>

</html>