<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul th:replace="base :: menu_lateral"></ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form th:replace="base :: topbar_search"></form>

                    <!-- Topbar Navbar -->
                    <ul th:replace="base :: menu_superior"></ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Minhas Atividades</h1>
                        <div class="dropdown mb-4">
                            <button class="btn-sm btn-primary shadow-sm dropdown-toggle" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                Filtros
                            </button>
                            <div class="dropdown-menu animated--fade-in"
                                aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" th:href="@{/userAtividades}">Todos</a>
                                <a class="dropdown-item" th:href="@{/userAtividadesConfirmadas}">Confirmados</a>
                                <a class="dropdown-item" th:href="@{/userAtividadesOcorridas}">Já ocorrido</a>
                                <a class="dropdown-item" th:href="@{/userAtividadesCanceladas}">Cancelados</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-11 mb-4">

                        <!-- Atividades -->
                        <div class="card shadow mb-4" th:each="atividade : ${atividades}">
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
                            		th:classappend="${(atividade.estadoAtividade.name() == 'CANCELADO' ? 'bg-gradient-danger' : '') +
                            		(atividade.estadoAtividade.name() == 'JÁ_OCORRIDO' ? 'bg-gradient-warning' : '')}">
                                <h6 class="m-0 font-weight-bold text-primary" th:text="${atividade.nomeAtividade}">Nome da atividade</h6>
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                        aria-labelledby="dropdownMenuLink">
                                        <div class="dropdown-header">Ações:</div>
                                        <a class="dropdown-item" href="#">Marcar como já ocorrido</a>
                                        <form th:action="@{'atividade/{id}/cancelar'(id=${atividade.id})}" method="post"><button type="submit" class="dropdown-item">Cancelar</button></form>
                                        <div class="dropdown-divider"></div>
                                        <form th:action="@{'delete/{id}'(id=${atividade.id})}" method="post"><button type="submit" class="dropdown-item">Excluir</button></form>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="text-center">
                                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                                        src="img/undraw_posting_photo.svg" alt="...">
                                </div>
                                <p>Local: <span th:text="${atividade.enderecoLocal} + ', ' + ${atividade.cidade} + ', ' + ${atividade.uf}"></span></p>
                                <p>Tipo: <span th:text="${atividade.nomeTipoAtividade}"></span></p>
                                <p>Descrição: <span th:text="${atividade.descricao}"></span></p>
                                <p>Quando: <span th:text="${#temporals.format(atividade.dataAtividade, 'dd/MM/yyyy')}"></span></p>
                                <a th:href="@{'atividadesFormAlteracao/{id}'(id=${atividade.id})}">Alterar &rarr;</a>
                            </div>
                        </div>


                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div th:replace="base :: logout_modal"></div>
    
    <!-- Profile Modal-->
    <div th:replace="base :: profile_modal"></div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>

</body>

</html>