<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet" type="text/css">

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://unpkg.com/@google/markerclustererplus@4.0.1/dist/markerclustererplus.min.js"></script>

    <style type="text/css">
        /* Set the size of the div element that contains the map */
        #map {
            height: 400px;
            width: 100%;
        }
    </style>

</head>

<body id="page-top" onload="onLoad()">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul th:replace="base :: menu_lateral"></ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form th:replace="base :: topbar_search"></form>

                    <!-- Topbar Navbar -->
                    <ul th:replace="base :: menu_superior"></ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Informações do usuário</h1>
                    </div>

                    <div class="col-lg-11 mb-4" id="usuarioCadastro">

                        <!-- usuarioCadastros -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary" th:text="${usuarioCadastro.nomeCompleto}">
                                    usuarioCadastro</h6>
                            </div>
                            <div class="card-body">
                                <p>
                                    E-mail: <span th:text="${usuarioCadastro.email}"></span>
                                </p>
                                <p>
                                    Cidade: <span
                                        th:text="${usuarioCadastro.municipio} + ', ' + ${usuarioCadastro.uf}"></span>
                                </p>
                                <br>
                                <div th:if="${usuarioCadastro.getHorarioNulo()}">
                                    <p>Cadastrado em: <span th:text="' - '"></span></p>
                                </div>
                                <div th:unless="${usuarioCadastro.getHorarioNulo()}">
                                    <p>Cadastrado em: <span
                                        th:text="' ' + ${#temporals.format(usuarioCadastro.cadastrado, 'dd/MM/yyyy')} + ' - '  + ${#temporals.format(usuarioCadastro.cadastrado, 'HH:mm')}"></span></p>
                                </div>
                                <div th:if="${usuarioCadastro.enabled}">
                                    <form th:action="@{'/inativaUsuario/{id}'(id=${usuarioCadastro.id})}" method="post">
                                        <button class="btn btn-danger" type="submit">Inativar
                                            usuário</button>
                                    </form>
                                </div>
                                <div th:unless="${usuarioCadastro.enabled}">
                                    <form th:action="@{'/ativaUsuario/{id}'(id=${usuarioCadastro.id})}" method="post">
                                        <button class="btn btn-success" type="submit">Ativar
                                            usuário</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="card shadow mb-4">
                            <!-- Card Header - Accordion -->
                            <a href="#collapseCardExample1" class="d-block card-header py-3" data-toggle="collapse"
                                role="button" aria-expanded="true" aria-controls="collapseCardExample1">
                                <h6 class="m-0 font-weight-bold text-primary"
                                    th:text="'Atividades que o usuário confirmou presença (' + ${usuarioParticipa.size()} + ')'">
                                </h6>
                            </a>
                            <!-- Card Content - Collapse -->
                            <div th:if="${usuarioParticipa != '-'}">
                                <div th:each="atividade : ${usuarioParticipa}">
                                    <div class="collapse " id="collapseCardExample1">
                                        <div class="card-body">
                                            <h6
                                                th:text="${atividade.nomeAtividade} + ' - ' + ${#temporals.format(atividade.dataAtividade, 'dd/MM/yyyy')} + ' - '  + ${#temporals.format(atividade.dataAtividade, 'HH:mm')}">
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div th:unless="${usuarioParticipa != '-'}">
                                    <div class="collapse " id="collapseCardExample">
                                        <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="'-'">-</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card shadow mb-4">
                            <!-- Card Header - Accordion -->
                            <a href="#collapseCardExample2" class="d-block card-header py-3" data-toggle="collapse"
                                role="button" aria-expanded="true" aria-controls="collapseCardExample2">
                                <h6 class="m-0 font-weight-bold text-primary"
                                    th:text="'Atividades que o usuário já participou (' + ${usuarioParticipou.size()} + ')'">
                                </h6>
                            </a>
                            <!-- Card Content - Collapse -->
                            <div th:if="${usuarioParticipou != '-'}">
                                <div th:each="atividade : ${usuarioParticipou}">
                                    <div class="collapse " id="collapseCardExample2">
                                        <div class="card-body">
                                            <h6
                                                th:text="${atividade.nomeAtividade} + ' - ' + ${#temporals.format(atividade.dataAtividade, 'dd/MM/yyyy')} + ' - '  + ${#temporals.format(atividade.dataAtividade, 'HH:mm')}">
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div th:unless="${usuarioParticipou != '-'}">
                                    <div class="collapse " id="collapseCardExample">
                                        <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="'-'">-</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card shadow mb-4">
                            <!-- Card Header - Accordion -->
                            <a href="#collapseCardExample3" class="d-block card-header py-3" data-toggle="collapse"
                                role="button" aria-expanded="true" aria-controls="collapseCardExample3">
                                <h6 class="m-0 font-weight-bold text-primary" th:text="'Log de atividades do usuário'">
                                </h6>
                            </a>
                            <!-- Card Content - Collapse -->
                            <div th:each="logUsuario : ${usuarioCadastro.listaDeLogs}">
                                <div class="collapse " id="collapseCardExample3">
                                    <div class="card-body">
                                        <h6
                                            th:text="${#temporals.format(logUsuario.horarioAcao, 'dd/MM/yyyy')} + ' - '  + ${#temporals.format(logUsuario.horarioAcao, 'HH:mm')} +  ' - ' + ${logUsuario.acao}">
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->


        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top"> <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div th:replace="base :: logout_modal"></div>

    <!-- Profile Modal-->
    <div th:replace="base :: profile_modal"></div>

    <!-- Modal novo usuário -->
    <div th:replace="base :: new_user_modal"></div>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


</body>

</html>